<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta content="{{ page.title }}" property="og:title">
  <meta content="website" property="og:type">
  <meta content="{{ site.url }}/{{ page.image }}" property="og:image">
  <meta content="{{ site.url }}/laszlo.jpg" property="og:image">
  <meta content="{{ site.url }}{{ page.link }}" property="og:url">
  <meta content="{{ site.tag_text }}" property="og:site_name">
  <meta content="{{ page.excerpt }}" property="og:description">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@laszlocph">
  <meta name="twitter:creator" content="@laszlocph">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.excerpt }}">
  <meta name="twitter:image" content="{{ site.url }}/{{ page.image }}">

  <title>{{ page.title }} - {{ site.title }}</title>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css?2">
  {% include head.html %}
</head>
<body style="position: relative">
  <div class="container mx-auto max-w-6xl p-4">
    <div class="flex">
      <div class="hidden md:block md:w-3/12"></div>
      <div class="w-full md:w-6/12 max-w-xl">
        <h1><a href="./">{{ site.tag_text }}</a></h1>
        <img src="images/1500x500.jpg"/>
      </div>
      <div class="hidden md:block md:w-3/12"></div>
    </div>
    <div class="flex">
      <div class="hidden md:block md:w-3/12"></div>
      <div class="w-full md:w-6/12 max-w-xl">
        {{ content }}
        <hr />
        <div class="font-sans text-sm text-gray-600">
          <p>Are you running Kubernetes?</p>
          You can bootstrap logging, metrics and ingress with my new project. Head over <a href="https://1clickinfra.com">1clickinfra.com</a> and see if it helps you.
        </div>
      </div>
      <div class="hidden md:block md:w-3/12 p-6 pl-8 font-sans text-sm text-gray-600">
        {% include toc-segment.html %}
      </div>
    </div>
  </div>
{% include scripts.html %}
<script type="text/javascript" src="/assets/javascripts/homepage.js" async></script>
</body>
</html>
