<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta content="{{ page.title }}" property="og:title">
  <meta content="website" property="og:type">
  <meta content="{{ site.url }}/{{ page.image }}" property="og:image">
  <meta content="{{ site.url }}/laszlo.jpg" property="og:image">
  <meta content="{{ site.url }}{{ page.link }}" property="og:url">
  <meta content="{{ site.tag_text }}" property="og:site_name">
  <meta content="{{ page.excerpt }}" property="og:description">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@laszlocph">
  <meta name="twitter:creator" content="@laszlocph">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.excerpt }}">
  <meta name="twitter:image" content="{{ site.url }}/{{ page.image }}">

  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="css/main.css">
  {% include head.html %}
</head>
<body style="position: relative">
  <div class="container">
    <h1><a href="./">{{ site.tag_text }}</a></h1>
    <img src="images/1500x500.jpg"/>

    {{ content }}
    <br/>
    <hr/>
    <p>Read some more about Actions or Drone:</p>

    <ul>
      {% for post in site.posts%}
        {% if post.layout == "drone" %}
          <li>
            <a href="{{ post.url }}">{{ post.title }} ({{ post.date | date: "%Y-%m-%d" }})</a>
          </li>  
        {% endif %}
      {% endfor %}
    </ul>

    <hr/>
    <br/>
    <p>I can also notify you if there is a new Drone related article. Won't spam you, I promise.</p>
    <script async>(function(s,u,m,o,j,v){j=u.createElement(m);v=u.getElementsByTagName(m)[0];j.async=1;j.src=o;j.dataset.sumoSiteId='bb30a2ae7497e8dbaf05162b58e3ecc5282a86f6253cc4e12d53849356709a95';v.parentNode.insertBefore(j,v)})(window,document,'script','//load.sumo.com/');</script>
    <span data-sumome-listbuilder-embed-id="936e7bcc0122906987a873e44345a0faca428e80fe0ba846f5a221d5ddec5417"></span>
  </div>
{% include scripts.html %}
</body>
</html>
