<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="css/main.css">
{% include head.html %}
</head>
<body style="position: relative">
  <div class="container">
    <h1><a href="./">#{{ site.tag_text }}</a></h1>
    {{ content }}
  </div>
  <div style="width:195px; text-align:center;" class="event"><iframe  src="https://www.eventbrite.com/countdown-widget?eid=28859428327" frameborder="0" height="460" width="195" marginheight="0" marginwidth="0" scrolling="no" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:12px; padding:10px 0 5px; margin:2px; width:195px; text-align:center;" ><a class="powered-by-eb" style="color: #ADB0B6; text-decoration: none;" target="_blank" href="http://www.eventbrite.com/">Powered by Eventbrite</a></div></div>
{% include scripts.html %}
</body>
</html>
