<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta content="{{ page.title }}" property="og:title">
  <meta content="website" property="og:type">
  <meta content="{{ site.url }}/9ySXeJrr.jpg" property="og:image">
  <meta content="{{ site.url }}/{{ page.path }}" property="og:image">
  <meta content="https://laszlo.cloud" property="og:url">
  <meta content="{{ site.tag_text }}" property="og:site_name">
  <meta content="{{ site.description }}" property="og:description">

  <title>{{ site.title }} - {{ page.title }}</title>
  <link rel="stylesheet" href="css/main.css">
{% include head.html %}
</head>
<body style="position: relative">
  <div class="container">
    <h1><a href="./">{{ site.tag_text }}</a></h1>
    {{ content }}
    <br/>
    <br/>
    <script async id="_ck_219414" src="https://forms.convertkit.com/219414?v=6"></script>
  </div>
{% include scripts.html %}
</body>
</html>
